/* design for desktop */
.col-1{width:8.33%}
.col-2{width:16.66%}
.col-3{width:25%}
.col-4{width:33.32%}
.col-5{width:41.65%}
.col-6{width:50%}
.col-7{width:58.31%}
.col-8{width:66.64%}
.col-9{width:75%}
.col-10{width:83.3%}
.col-11{width:91.63%}
.col-12{width:100%}
.nav-bar{
    padding:8px;
}
.nav-link{
    display: flex;
    flex-direction: row;
}
.nav-link a{
    margin:10px;
    margin-top: 25px;
}
.top-img, .bottom-img{
    height:120px;
   
}
.p1{
    width:50%;
    margin:0 auto 140px auto;
}
/* aboutme */
.aboutme-img img{
    height: 200px;
    margin-top:100px;
}
h3{
    text-align: center;
}
/* aboutme end */
.links{
    margin:10px;
}
.btn{
    width:90px;
}
.footer-link a {
    display: inline;
}
.links{
    margin-top: 0;
    margin-left: 130px;
}
.contact{
    margin-right:px;
}
.list{
    text-align: left;
    padding-left: 20px;
}
.footer{
    padding:15px;
}
.card-des{
    background-color: #8EAC50;
    padding:40px;
    width:800px;
    margin: 0 auto;
    border-radius: 30px;
    padding:50px;
    
}